

<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; <span id="year"></span> GMA productions</li><li>Design: <a href="/home">GMA</a></li>
					</ul>
					<div class="whatsapp">
						<!-- WhatsApp Chat Button -->
						<a href="https://wa.me/2349063774018" class="whatsapp_float" target="_blank" rel="noopener noreferrer">
							<img src="https://img.icons8.com/color/48/000000/whatsapp--v1.png" alt="Chat with us on WhatsApp" />
						</a>
  
					</div>
				</div>
			</footer>
			<!-- Cookie Consent -->
			<div id="cookieConsent" class="cookie-consent hidden">
			<p>
				This website uses cookies to ensure you get the best experience.
				<a href="/legal#cookie-policy">Learn more</a>
			</p>
			<div class="cookie-buttons">
				<button id="acceptCookies">Accept</button>
				<button id="declineCookies">Decline</button>
			</div>
			</div>

    <script src="/js/script.js"></script>
</body>
</html>