<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="/css/style1.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:weight@500;600&display=swap">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>

  <!-- <i class="ri-home-heart-fill"></i> -->
  <!-- Header -->
  <header>
    <a href="/" class="logo"><span>GMATechnologiesLtd</span></a>
    <ul class="navbar">
      <li><a href="/" class="nav-link" >Home</a></li>
      <li><a href="/about" class="nav-link">About Us</a></li>
      <li><a href="/services" class="nav-link">Services</a></li>
      <li><a href="https://gmaparliament.blogspot.com/" class="nav-link">Blog</a></li>
      <li><a href="/contact" class="nav-link">Contact</a></li>
      <li><a href="/legal" class="nav-link">Legal</a></li>

    </ul>
    <div class="bx bx-menu" id="menu-icon"></div>
  </header>

