
body {
    background-color: aquamarine;
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 35px;
}

.bold_input {
    width: 220px;
    height: 40px;
    text-align: center;
    margin: 10px;
    font-size: 20px;

}

.button {
    margin-top: 20px;
}

.btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: #111;
}