<%- include("header") -%>



    
<h2>There was an error sending your message. Please try again.</h2>
<p><a href="/" type="button" class="button">Go back to home page</a></p>


    <!-- Scripts -->
        <script src="./js/jquery.min.js"></script>
        <script src="./js/jquery.scrollex.min.js"></script>
        <script src="./js/jquery.scrolly.min.js"></script>
        <script src="./js/browser.min.js"></script>
        <script src="./js/breakpoints.min.js"></script>
        <script src="./js/util.js"></script>
        <script src="./js/main.js"></script>

<%- include("footer") -%>