<%- include("header") -%>



<h2>Kindly note that all fields are required.</h2>
<p><a href="/home" type="button" class="button">Go back to home page</a></p>



    <!-- Scripts -->
        <script src="./js/jquery.min.js"></script>
        <script src="./js/jquery.scrollex.min.js"></script>
        <script src="./js/jquery.scrolly.min.js"></script>
        <script src="./js/browser.min.js"></script>
        <script src="./js/breakpoints.min.js"></script>
        <script src="./js/util.js"></script>
        <script src="./js/main.js"></script>

<%- include("footer") -%>